@import "../../styles/breakpoints";
@import "../../styles/mixins";

#root {
  display: flex;
  flex-direction: column;

  background: #1A3341;
  padding: 50px;
}

.login-view {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  @include respond-to('gt-xs') {
    justify-content: center;
  }

  .login-form {
    display: flex;
    flex-direction: column;

    .MuiTextField-root {
      margin-bottom: 25px;

      .MuiInputBase-root {
        .MuiInputAdornment-root {
          .material-icons {
            color: #555555;
          }
        }
      }
    }
  }
  
  .register {
    margin-top: 25px;
    color: #dddddd;
    
    a {
      color: inherit;
      text-decoration: underline;

      @include transition(color 280ms);

      &:hover {
        color: #ffffff;
      }
    }
  }
}
