@import "../../styles/mixins";

.logo {
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
  color: #ffffff;

  span {
    color: #ffa500;

    &:after {
      content: '!';
      display: inline-block;

      @include transform(rotate3d(0, 0, 1, 6deg));
    }
  }
}
